.footer {
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}

.foot-info {
    display: flex;
    align-items: baseline;

}

.logo-footer {
    color: var(--accent-color);
    font-family: 'Raleway';
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-footer span {
    color: #FFFFFF;
    font-family: 'Raleway';
    text-decoration: none;
}